{{define "index"}}
<div class="main-body">
	<h1>Badgerodon</h1>
	<img class="logo" src="{{asset_url "img/badgerodon.png"}}" alt="logo">
	<h2>Projects</h2>
	<dl>
		<dt><a href="/socketmaster">socketmaster</a></dt>
		<dd>A zero-configuration reverse proxy</dd>
		<dt><a href="/stack">Stack</a></dt>
		<dd>A simple, cross-platform, pull-based deployment system.</dd>
	</dl>
</div>
{{end}}
